{% extends 'base.html' %}

{% block title %}List File{% endblock %}

{% block content %}
    <h1>Files List</h1>
    <ul>
        {% for file in files %}
            <li>{{ file.title }}</li>
            <li>{{ file.title }} - <a href="{% url 'file_delete' file.pk %}">Excluir</a> - <a href="{% url 'file_download' file.pk %}">Download</a></li>
            {% empty %}
              <li>Nenhum arquivo encontrado.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_file' %}">Create New File</a>
{% endblock content %}


