{% extends 'base.html' %}
{% block content %}

    <div class = "div-login">
        <h3 class = "h3-login"> Informe seus dados para redefinir a senha </h3>
        <form action = "{% url 'password_reset' %}" method = "POST">
            {% csrf_token %}

            <p>Username</p>
            <input type = "text" placeholder = "Username" name = "usernamereset" required>
            <p>Email</p>
            <input type = "email" placeholder = "Email" name = "emailreset" required>
            <p>New Password</p>
            <input type = "password" placeholder = "Senha" name = "senhareset", required>
            <p class = "message" >* Campos obrigatórios</p>
            <div class= "div-submit">
                <input class = "btn-submit" type = "submit" value = "Redefinir senha" required>
            </div>
        </form>
    </div>
{% endblock %}
